

.loginSubmit{
  width:100% !important;
    font-weight: bold;
      text-transform: uppercase;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      font-size: 20px;
}
.LoginRegister{
margin-left:5px;
}
.rules{
  color:#F45355;
}
.dropdown-toggle{

  border-radius:600px;
}
.RegisterLogin{
  width:100% !important;
  text-align:right !important;
}
.formInfo{
  color:red;
}
.userDrop{
background-color:#F45355;
}
.PreferencjeButton{
  margin-top:10px;
}
.highTop{
  margin-top:30px;
}
.LoginItems{
  font-size: 14px;
text-decoration: underline;
cursor:pointer;
text-align: left;
color:red;
margin-left: -1.25rem !important;
}
.fullwidth{
  width:100% !important;
}
.userDrop{
background-color:#F45355;
}
.notification{
  box-shadow: none !important;
}
.mainDiv{
  position: relative !important;

}
.text-center{
  text-align:center !important;
}
.NewButton{
  margin:0 auto !important;
  display:block !important;
}
.EachComment{
  margin: 0;
margin-left: 20px;
margin-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
border: 1px solid gainsboro;
font-family: serif;
text-align: justify;
    margin-top: 20px;
}

.nameComments{
  margin-left:15px;
}
.dateComments{
  text-align: right !important;
    display: block;
    margin-right: 15px !important;
}
.loveImg{
  width:26px;
}
.mainCenterText{
text-align:center;
 font-weight: bold;
text-transform: uppercase;
-webkit-text-fill-color: white;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #eee;
font-size: 44px;
border-bottom:2px solid #eee;
}
.containerMain{
  position: absolute;
 top: 40%;
 left: 50%;
 transform: translate(-50%, -50%);
 display:block;
 margin-left: 0 auto;
}
.navbarText{
  list-style: none;
  width:100%;
  text-align:center;
}
@media only screen and (max-width: 1024px) {
  .responseButton button{
    font-size:14px !important;
    padding:5px !important;
    width: max-content !important;
  }
}
@media only screen and (max-width: 500px) {
  .BannerDesc{
    font-size:16px !important;
  }
  .textBanner{
    font-size:20px !important;
  }
  .eachTitle{
    font-size:16px !important;
    margin-left:8px !important;
    margin-right:8px !important;
  }
  .redInfo{
    font-size:14px !important;
  }
  .colUserDiv{
    font-size:14px !important;
    margin-left:8px !important;
    margin-right:8px !important;
  }
  .mainCenterTextButton{
    font-size:14px !important;
  }
}
@media only screen and (max-width: 1000px) {
  .photosWallCol{
    display:contents !important;
  }
  .LoadingWall{
    margin-top:20px;
  }
}
@media only screen and (max-width: 770px) {
  .card-text{
    min-height:0px !important;
  }
  .colUser{
    margin-left:0px !important;
  }

}

.mai
.Banner2{
  width:40px;
}
@media only screen and (max-width: 1200px) {
  .respCol{
    display:contents !important;
  }
  .BannerTitle{
    margin-left: 25px;
    margin-right: 25px;
  }
  .BannerDesc{
    margin-left: 25px;
    margin-right: 25px;
  }
  .DownTitle{
    margin-top:20px;
  }
}
@media only screen and (max-width: 840px) {
  .containerMain {
    zoom:0.8
  }
}
@media only screen and (max-width: 770px) {
  .containerMain {
    zoom:0.7
  }
}

@media only screen and (max-width: 615px) {
  .containerMain {
    zoom:0.6
  }
  .navbar-expand-md {
    zoom:0.9
  }
}
@media only screen and (max-width: 540px) {
  .containerMain {
    zoom:0.5
  }
  .navbar-expand-md {
    zoom:0.8
  }
}
@media only screen and (max-width: 550px) {
  .dog2Center {
    display:none !important;
  }
}
@media only screen and (max-width: 400px) {
  .containerMain {
    display:63% !important;
  }
}
@media only screen and (max-width: 465px) {
  .containerMain {
    width: 80% !important;
  }
  .mainButtons{
    margin: 0 auto !important;
    display: block !important;
    text-align: center !important;
  }
}
@media only screen and (max-width: 700px) {
  .containerMain {
    top:60% !important;
  }
}
nButtons{
  display: flex;
}
@media only screen and (max-width: 350px) {
  .RegisterLogin{
    width: 100% !important;
    text-align: left !important;
  }
  .newPostsHeader{
    font-size:16px !important;
  }
}

@media only screen and (max-width: 480px) {
  .newPostsHeader {
    font-size: 18px !important;
  }
  .loadingText{
    font-size:14px !important;
  }
}
@media only screen and (max-width: 400px) {
  .navbar-expand-md {
    zoom:0.6;
  }

}

@media only screen and (max-width: 300px) {
  .containerMain {
    display: none !important;
  }

}

@media only screen and (max-width: 1024px) {
  .navbar-collapse {
    width:50% !important;
  }
}
@media only screen and (max-width: 769px){
.mojaklasa {
    display:flex !important;
}
}
.addPostContainer{
background-color:#f8f8f8;
}
#SendPhotoWall{
  display:none;
}
.RightDogWall{
  margin-top:20px;
}

.bttnADDPHOTO{
  margin-top:10px !important;
  margin:0 auto;
}

.maxColor{
  font-size:17px;
  color:#eee;
  font-weight:bold;
}
.notification-error{
  background-color:#F45355 !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1) !important;
}
.formAddPost{
  margin-top:20px;
}
.react-multiple-carousel__arrow--left{
    visibility: hidden;
}

.react-multiple-carousel__arrow--right{
  visibility: hidden;
}
.LeftArrow{
  margin-right:20px;
  cursor:pointer;
  transform: rotate(180deg);
}
.RightArrow{
  margin-left:20px;
  cursor:pointer;
}
@media only screen and (max-width: 1024px) {
  .logo {
    zoom:0.7
  }
}
.newPostsHeader{
  text-align: center;
}
.newPostsRow{
  margin-bottom:20px;
}
@media only screen and (max-width: 1400px) {
  .containerMain {
     top: 50%;
  }
}

.dog2Center{
  margin:0 auto;
  display:block;
  text-align: center;
}
a{
  color:white;
}
a:hover{
  text-decoration: none;
  color:white;
}
.colorBlack{
  color:black !important
}
.dog2Image{
  width:50px;
  margin-bottom:15px;
  text-align:center;

}
.quill img{
  height:400px;
}
.ql-editor{
  min-height:300px;
}
.navContainer{
  position:relative;
  z-index:1;
  background-color:transparent;
  height:0px;
}
.ContentAddPost{
  background-color:#fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.Navbar100Div{
  background-color:#fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.navContainer100{
  position:relative;
  z-index:1;

  height:auto;


  width:100%;

}
#DodajZdjecie{
  margin-top:10px;
}
.photoRow{
  cursor:pointer;
  margin-top:10px;

}
.socialIconsLI{
  list-style: none;
  text-align:right;
  width:100%;
  text-align:center;


}
.icon{
  font-size:40px !important;
  cursor:pointer;
}
.footerRow{
  margin-top:30px;
  color:#fff;

}
.socialIcons{
  list-style: none;
  width:32px;
  text-align:center;
}
.marginRight20{
  margin-right:20px;
}

.footer{
  background-color:#20262e;
  position: absolute;
  margin-top:50px;
  width:100%;
}
.postImage{
  width: auto;
      margin: 0 auto;
      display: block;
      height: auto;
      max-width: -webkit-fill-available;
      max-height: 225px;

}
.black{
  color:black !important;
}
.displayGrid{
  display:grid !important;
}
.SelectFind{
  margin:10px !important;
  text-align:left !important;
}
.multi-select{
  display:contents !important;
}
.multi-select:first-child{
  margin:10px !important;
  text-align:left !important;
}
div[role="combobox"]{
  margin:10px !important;
  text-align:left !important
}
.BlocksRow{
  margin-top: 20px;
      padding-top: 30px;
      padding-bottom: 30px;
      border: 1px solid #20262e;
      border-radius: 10px;
}
.FindFirstRow{
  margin-top:20px;
}
.SearchAllPosts{
  margin-top:50px;
  text-align: center;
}
.SearchNums1{
  display:block;
  text-align:center;
  margin: 0 auto;
    background-color: #F45355 !important;
    padding: 20px;
    font-size: large;
    font-family: cursive;
    font-weight: 900;
    color: white;
    width: fit-content;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;

}
.SearchNums2{
  display:block;
  text-align:center;
  margin: 0 auto;
    background-color: #F45355 !important;
    padding: 20px;
    font-size: large;
    font-family: cursive;
    font-weight: 900;
    color:white;
    width: fit-content;
    border-radius:10px;

}
.SearchNums3{
  display:block;
  text-align:center;
  margin: 0 auto;
    background-color: #F45355 !important;
    padding: 20px;
    font-size: large;
    font-family: cursive;
    font-weight: 900;
    color: white;
    width: fit-content;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;

}
.SearchBlocks{
  text-align: center;
  display: block;
  margin-top: 15px;
  color:#20262e;
  text-decoration: underline;
  font-weight: 600;
  letter-spacing: 1px;
}
.SearchEachPost{
  display: inline-block;
  margin: 10px 0 0 2%;
  text-align: left !important;
  flex-grow: 1;

      margin-bottom: 40px;
  width: calc(30%);
}
.FindPosts{
  width: 70% !important;
margin: 0 auto;
display: block;
border-radius: 44px;
}

.Pagination{
  padding-top: 20px;
  border-top: 1px solid #20262e;
}
.PagDiv{
  text-align:center;
}
.paginationButton{
  font-size:20px;
  padding-left:20px;
  padding-right:20px;
  color:black !important;
  padding-top:10px;
  padding-bottom:10px;
  background-color:transparent !important;
  border:none !important;

}
.currentPage{
  background-color:#F45355 !important;
  color: white;
  padding-top:10px;
  padding-bottom:10px;
    border-radius: 999px;
}
.item-renderer span{
  cursor:pointer !important;

}
.currentPage{
  background-color:red;
}
.select-item{
  cursor:pointer !important;
}
.FooterDesc{
  margin-top:20px;
  padding-top:10px;
  border-top:1px solid #fff;
  color:#fff;
  opacity:0.5;
}
.FormGroupFind{
  display:flex !important
}
.ProfileRow{
  padding-bottom:5px;
  border-bottom:2px solid #eee ;
  text-align:center;
  color:#F45355;
  font-family: serif;
    font-weight: 400;
    font-size:20px;
}
.profile{
  background-image:url("./dogbackground.png");
  padding-bottom:50px;
  padding-top:50px;
}
.MuiAppBar-colorPrimary{
    background-color:	#5F7EA6 !important;
}
.profileCol{

}
.profileContainer{
  background-color:white;

  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.EditProfile{

}
.redColor{color:red;
text-transform: uppercase;
font-size:bold;
text-align: center;
}
.margin10{
  margin-top:10px;

}
.ProfileItem{

}
.NoBorder{
  border: none !important;
}
.ZmienHaslo{
  width:100% !important;
}
.ProfilePref{
  margin-top:20px;
}
.ProfileUstawienia{
  margin-top:20px;
}
.btn-danger{
  background-color:#F45355 !important;
}
.btn-danger:hover{
  background-color:#CC0000 !important;
}
.ShareCol{
  max-width:67%;
  padding-bottom:20px !important;
}
.colUser{
      max-width:30%;
      margin-left:30px;
      height:100%;

}
.EditDesc{
 width:95% !important;
 margin:0 auto !important;
 min-height:250px;
}
.itemBorder{
  border-bottom:2px solid darkseagreen !important;
}
.allItems{
  text-align:center;
}

.leftItem{
  margin-left:10px;
}
.rightItem{
  margin-right:10px;
}
.dogIcon{

  color:#F45355 !important;
}
.textItems{
  font-family:serif !important;
}
.colItems{
  margin-left: 40px !important;
      margin-right: 40px !important;
      border: 1px solid gainsboro;
      border-radius: 10px !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
}
.itemDate{
  border-bottom: 1px solid #F45355;
    padding-bottom: 4px;
    font-size: 14px;
    font-family: monospace !important;
}
.editInput{
  width: 80% !important;
    margin: 0 auto !important;
}
.editMargin{
  margin-top: 20px !important;
}
.trans90{
  -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
   font-size:24px;
   margin-top:10px;
   margin-bottom:10px;
   color:#F45355 !important;
}
.editInput16{
  font-size:16px !important;
  text-align:left !important
}
.EditProfile{
  display:block !important;
  margin:0 auto !important;
}
.loginBTTN{

  width:max-content !important;
}
.dropdown{
  width:100%;
  text-align:right;
}
.registerBTTN div{
  width:max-content !important;
}
@media only screen and (max-width: 604px) {
  .colUser {
    max-width:100% !important;

    margin-left:0px;
  }
}
.noneColors{
      background-color: transparent !important;
    box-shadow: none !important;
}
.resetMargin{
  background-color: transparent !important;
margin-top: 5px !important;
margin-bottom: 5px !important;
box-shadow: none !important;
}
.dropdown-content{
  width:200px !important;
}
.accRules{
  margin-left: 10px !important;
}
.sendMessage{
  margin-bottom: 20px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:20px;
  padding-right:20px;
  font-size:18px;
}
.displayNone{
  display:none !important;
}
@media only screen and (max-width: 1000px) {
  .postImage{
    margin-top:10px;
  }
  .postRow{
    display:block !important;
    margin:0 auto;
  }

  .detailsRed{
    display:none;
  }
  .fastAcc{
    padding-top:15px;
  }
  .postDetails{
    padding-top:20px !important;
  }
  .eachTitle{
    font-size:20px;
  }

  .ShareCol{
    max-width: 100% !important;
    margin-left: 0px !important;
  }

  .postHeader {
    padding-top:0px !important;
  }
  .contactIMG{
    width:inherit !important;
  }
  .allFooter{
    font-size:14px !important;
  }
  .PageContent{
    font-size:14px !important;
  }
  input{
    font-size:14px !important;
  }
  select{
    font-size:14px !important;
  }
  .SearchEachPost{
    width:calc(40%);
  }
}
@media only screen and (max-width: 770px) {
  .SearchEachPost{
    width:calc(80%);
  }
}
@media only screen and (max-width: 580px) {
  .SearchEachPost{
    width:calc(90%);
  }
}
@media only screen and (max-width: 400px) {
  .loginBTTN button{

    font-size:12px !important;
  }
  .registerBTTN button{

    font-size:12px !important;
  }
}
.SeeToo{
  height: auto !important;
}
.Banner{
  border-radius:30px;
  width: -webkit-fill-available;
display: flex;
}
.BannerDesc{
  text-align: justify;
  font-size:18px;
}
.BannerContainer{
  margin-top:50px;
  padding-top:10px;

  padding-bottom:50px;
}
.BannerRow{
  margin-top:40px;
  background-color:white;
  border-radius:20px;
padding:20px;
}
.textBanner{
  font-size: 24px;
  letter-spacing: 1px;
  border-bottom: 3px solid #a2ca28;
  font-family: serif;
  padding-bottom: 5px;
  font-weight: 500;
  margin-left: 10px;
}
.contactIMG{

}
.styleInput{

}
.inputBor{
  border:none !important;
}
.contactRow{
  margin-top:50px;
  text-align:center;
  border-radius:20px;
  background-color:#F45355;
}
#contactDesc{
  min-height:150px;
}
.contactCOL{
  margin-top:20px;
}
.styles_wrapper__1kG3C{
  background-color:white !important;
}
.styles_gridItem__nPXhF figcaption:hover{
  cursor:pointer;
  opacity:1 !important;

}
.styles_gridItem__nPXhF{
max-width: 250px !important;
flex: 1 1 250px !important;
padding-left: 0px !important;
padding-right: 0px !important;
margin-bottom: 0px !important;
}
.DogsWall{
  margin-top:50px;
}
.WallAddPhoto{
  cursor:pointer;
}
.styles_grid__1mw-l{
  flex-wrap:wrap-reverse !important
}
.styles_gridItem__nPXhF figcaption{
  background-color:#F45355 !important;
  opacity:0.9;
    display:none !important;
}
.styles_gridItem__nPXhF figure > div > img{
  opacity:1 !important;
}
.styles_gridItem__nPXhF figure > div > img:hover{
  opacity:0.7 !important;
}
.BannerDiv{
  background-image: url("./dogbackground.png");
    box-shadow: 0 2px 4px 0 rgba(0,0,2,0.2);
    width: 100% !important;
    min-width: 100%;
}
@media only screen and (max-width: 769px) {
  .socialIconsLI {
    display:none;
  }
  .PostButtons{
    font-size:16px !important;
  }

  .AktualnosciBlank{
    display:block;
    font-size:14px !important;
  }
  .postDetails{
    padding-top: 15px !important;
  }
  .ShareCol{
    max-width:100%;
  }


  .PostItems{
    margin-right:5px;
    margin-left:5px;
  }
  .PostItem{
    width:100% !important;
    min-width: 100% !important;
  }

  .ShareCol{
    width:100% !important;
    min-width: 100% !important;

    margin-top:20px;

  }
  .AlsoSee{
    padding-top:15px;
  }
  .ml-auto {
    display:contents !important;
  }
  .loginBTTN{
    width:100% !important;
    text-align:right !important;
    font-size:12px !important;
  }
  .loginBTTN button{

    font-size:14px !important;
  }
  .registerBTTN button{

    font-size:14px !important;
  }
  .registerBTTN div{
    width:max-content !important;
  }
  .randomPostDisplay{
    width:100% !important;
    min-width: 100% !important;
    padding-bottom: 10px !important;
    margin-bottom:15px;
  }
  .postShares{
    padding-top: 20px;
  }
  .DescirptionCol{
    margin-top:0px !important
  }

}
.randomtitle{
  font-size:16px;
  margin-top:10px;
}
ins{
  margin-top:20px !important;
  margin-bottom: 20px !important;
}
.google-auto-placed{
  margin-top:20px !important;
  margin-bottom: 20px !important;
}
.adsbygoogle{
  height: auto !important;
}
.google-auto-placed{
  height: auto !important;

}
@media only screen and (max-width: 450px) {
  .postHeader {
    margin-bottom:15px;
  }

}

.Aktualnosci{
  background-color:#F45355;
  padding:3px;
  border-radius: 999px;
  color:white;
  font-size:14px;
}
.colUserDiv{
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
padding-top:1px;
  background-color: #fff;
height:100%;
word-break: break-all;

}
.PostButtons{
  cursor:pointer;
  text-align:center;
  margin-top:15px;
}

.redInfo{
  border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      text-align:center;
        font-family: serif;
margin-bottom:0px !important;
        color:white;
  background-color:#F45355;
  padding-top:10px;
  padding-bottom:10px;
  font-weight: 600;
    letter-spacing: 1px;


}
.postDetails{
  margin-top:20px;
  font-weight: 600;
  font-size:18px;

}
.SmallImage{
  max-width: -webkit-fill-available;
  height:100px;
}
.postUser{
  text-align:center;
  font-family: serif;
    font-weight: 400;
    margin-top:20px;
    padding-bottom:10px;
    border-bottom:1px solid #eee;
}
.postShare{
  text-align:center;
  font-family: serif;
    font-weight: 400;
    font-size:20px;
    padding-bottom:10px;
    border-bottom:1px solid #eee;
}
.postShare2{
  text-align:center;
  font-family: serif;
    font-weight: 400;
    font-size:20px;
    padding-bottom:10px;

}
.twitterIcon{
    width: 44px;
    cursor:pointer;
  }
  .facebookIcon{
    cursor:pointer;
  }
  .myShareCountWrapper{
    text-align:center;
    width:100%;
  }
.fbContainer{
  text-align: center;
}
.eachTitle{
  text-align:center;
  font-family: serif;
    font-weight: 400;
    font-size:22px;
    letter-spacing: 1px;
    word-wrap: break-word;
    margin-top:10px;
    padding-top: 25px;
    border-top: 1px solid gainsboro;
    padding-bottom:3px;


}

.postUserLast{
  text-align:center;
  font-family: serif;
    font-weight: 400;
    margin-top:20px;
    padding-bottom:10px;

}
.postHeader{

   padding-top:15px;
   padding-bottom:15px;
  background-color:#fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.PostContainer{
  background-color:#f8f8f8;

}
.rowAddButton{
  margin-top:20px;
  padding-bottom:20px;
}
.AddPostButton{
  float:right;
  margin:5px;
}

#AddingPost{
  padding-left: 50px;
padding-right: 50px;
}
.containerFluid{
  width:100% !important;
  max-width:100% !important;
}
.rowFluid{
  background-color:#F45355;
  color:white;
  margin-top:75px;
  padding-top:15px;
  padding-bottom:15px;
}

.rowFluid2{

display:block;
  margin:0 auto;
  color:white;
  margin-top:20px;
  border-left: 2px solid #F45355;
  border-right: 2px solid #F45355;

  padding:30px;
  cursor:pointer;
}
.PageContent{
  text-align:center !important;
  font-weight: bold;
  font-size:16px;
  border-bottom:yellow;
  letter-spacing: 1px;
}
.PageContent2{
  text-align:center !important;

  font-size:16px;
  border-bottom:yellow;
  letter-spacing: 1px;
  color:black;
}
.addInput{
  padding:20px;
  width:800px;
  margin:0 auto;
  display:block;
  margin-top:20px;
}
.navbar-brand{
  color:white !important;
}
.formText{
  font-size:18px;
  font-family: serif;
}
.addPostForm{
  margin-top:20px;
}
.rowPhoto{


}
.mainCenterTextButton{
  margin-right:10px;
  margin-left:10px;
  font-weight: bold;
  border-radius:999px;
  text-transform: uppercase;
  -webkit-text-fill-color: white;

  font-size: 16px;
}
.displayImage{

  max-height:256px;
}
.mainCenterTextDesc{

 font-weight: bold;
text-transform: uppercase;
text-align:center;
-webkit-text-fill-color: white;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;

font-size: 20px;

}
.postImg{
  height: 200px !important;
  margin: 0 auto;
  width: auto;
  margin-top: 10px;
  max-width:100%;

}
.notFound{
  text-align:center;
  color:red;
  margin-top:30px;
  font-size:24px;
  text-decoration: underline;
}
.card-text{
  min-height:100px;
  word-break: break-all;
  max-height:100px;
}
.Loading{
  text-align:center;
  font-family: cursive;
}
.mainImage{
  background-size:cover;
  margin:0 auto;



}
.logoCSS{
  width:48px !important;
  margin-right:20px;
}
.postMain{

}
.marginTop20{
  margin-top:20px;
}
.marginTop50{
  margin-top:50px;
}
#addPostTextArea{
  min-height:300px;
}
@media only screen and (min-width: 1000px) {
  .btn-danger {
    width:max-content !important;
  }
  .dropdown-content{
    width:100% !important;
  }
}
@media only screen and (max-width: 800px) {
  .postShare{
    font-size:16px !important;
    margin-left:20px !important;
  }
  #removeAccount{
    margin-bottom:20px;
  }
}
.allWidth{
  width:100% !important;
}
.PostContainer{
  padding-bottom:50px;
}
.PostText{
  word-wrap: break-word;
  margin-left:15px;
  font-family:sans-serif;
  margin-right:15px;
  white-space: pre-line;
}
.navbar-collapse{
      flex-basis: 0% !important;
}
.navbar-expand-md .navbar-collapse{
  display:flex !important;
}
.navbar-light .navbar-toggler{
  display:none !important;
}
.textareaNews{
  overflow:hidden !important;
  margin:0 auto;
  width: 80% !important;
  margin-top:20px;
  font-family: serif;
  min-height: 100px;
}
.AddNews{


}
.NewButton{
  color: #e83e3e!important;
  border: 1px solid rgba(230,65,100,.2) !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding-bottom: 10px;
  background: linear-gradient(90deg,#fff,#fff) !important;
  padding-top: 10px;
  padding-left: 20px;
  font-family:serif !important;
  padding-right: 20px;
}
.NewButton:hover {
  background-color:#F45355 !important;
  color:white;
}
.sup{
  color: #F45355;
margin-left: 5px;
font-weight: bold;
}
.buttonNews{
  padding-bottom:20px;
  padding-top:20px;
}
.postTags{
  color:gray;
  font-size:12px;
  text-transform: capitalize;
  border:1px solid #eee;
    width: max-content;

}
.postSubmit{
  width:100%;
  font-weight: 500;
}
.mapPlace{
  margin-top: 10px;
margin-left: 10px;
border-bottom: 2px solid red;
}
.postTitle{
  font-size:20px;

}

.mapImg{
  height:40px !important;
  width:40px;
display:block;
margin-bottom:15px;
margin-left:15px;
}
.logo{
  width:70px;
}


.slide-left {
	-webkit-animation: slide-left 2s ease-out both;
	        animation: slide-left 2s ease-out both;
}

.slide-left {
	-webkit-animation: slide-left2 2s ease-out both;
	        animation: slide-left2 2s ease-out both;
}

@-webkit-keyframes slide-left {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@keyframes slide-left {
  0% {
    opacity:1;

  }
  100% {
      opacity:0;
  }
}

@-webkit-keyframes slide-left2 {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@keyframes slide-left2 {
  0% {
    -webkit-transform: translateX(-100px);
          transform: translateX(-100px);

  }
  100% {
    -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  }
}
